{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>
    <header class="header">
        <div class="row">

          <div class="logo-bar">
            <div class="small-4 columns">
              <div class="row">
                <div class="small-4 columns">logo</div>
                <div class="small-4 columns">avatar</div>
                <div class="small-4 columns">username</div>
              </div>
            </div>
          </div>

          <div class="nav-bar">
            <div class="small-4 columns">
              <nav class="main-nav">
                <ul class="row">
                  <li class="small-12 medium-3 column"><a class="link" href="#">Home</a></li>
                  <li class="small-12 medium-3 column"><a class="link" href="#">Analyse</a></li>
                  <li class="small-12 medium-3 column"><a class="link" href="#">Lorem</a></li>
                  <li class="small-12 medium-3 column"><a class="link" href="#">Ipsum</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="search-bar">
            <div class="small-4 columns">
              search
            </div>
          </div>

        </div>
      </header>  

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>